@import "tailwindcss";
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --color-primary: #012DCE;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.bg-landing-page { 
  background-color: #F5E3E3;
}

.bg-landing-page-btn {
  background-color: #012DCE;
}

.animation-opacity {
  animation: opacity 8s infinite; /* opacity 1s linear infinite */
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 详情页 Meet Author 区域在超大屏下拉高高度 */
@media (min-width: 1800px) {
  .meet-author-section {
    height: 800px;
  }
}